server {
	listen {{ listen_http }};
	listen [::]:{{ listen_http }};
	server_name {{ tls_vhostnames.0 }} www.{{ tls_vhostnames.0 }};
	root /opt/www/{{ tls_vhostnames.0 }};
	index index.html index.htm index.nginx-debian.html;

    location /.well-known {
      root /opt/www/{{ tls_dir_names }};      
  }

      location / {
      return 301 https://{{ tls_vhostnames.0 }}$request_uri;
    } 
 } 

server {
    listen {{ listen_http2 }} ssl;
    ssl_certificate /etc/letsencrypt/live/{{ tls_vhostnames.0 }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ tls_vhostnames.0 }}/privkey.pem;
    ssl_protocols TLSv1.3;
    ssl_dhparam /etc/ssl/certs/dhparam.pem;

    location / {
      root /opt/www/{{ tls_vhostnames.0 }};
      index index.html index.htm;
    }
    
    server_name  {{ tls_vhostnames.0 }} www.{{ tls_vhostnames.0 }};

}