server {
	listen {{ listen_http }};
	listen [::]:{{ listen_http }};
	server_name {{ dir_names_ubuntu.1 }} www.{{ dir_names_ubuntu.1 }};
	root /opt/www/{{ dir_names_ubuntu.1 }};
	index index.html index.htm;

    location /.well-known {
      root /opt/www/{{ dir_names_ubuntu.0 }};      
  }
  }